/* HEADER */

.home__header{
    text-align: center;
}



.home__header__img--logo{
    
    width: 180px;
    margin: 15px auto 30px;
    

}

.home__header__img--logo img {
    width: 100%;
    border-radius: 50%;
    border: solid var(--colorGris) 2px;
}

.home__header__a--bars{
    /* Las a son Elementos en Línea por lo que no puedo aplicar ancho, alto, margen, etc */
    /* Para eso utilizo display (lo paso a elemento de Bloque o Inline-bloque)*/
    /* Con Inline-Bloque puedo manejar ancho y alto pero no márgenes */
    /* Con Bloque puedo usar la propiedad margen y otras */
    display:inline-block;
    background: var(--colorGris);
    font-size: 2rem;
    width: 50px;
    height: 50px;
    margin: 0 auto 30px;
    border-radius: 8px;
     
}

.home__header__a--bars i {
    padding: 10px;
    font-size: 30px;
    
}

.home__header__nav--menu ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.home__header__nav--menu ul li{
    background: var(--colorGris);
    width: 100%;
    
    padding: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    
}



/* MAIN */

.home__main_section--banner{
    display: none;
}


.home__main_section--products{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

/* .home__main_section--product {
    width: 300px;
} */

.home__main_section--product-box{
    position: relative;
    margin-bottom: 30px;
}

.home__main_section--product-image{
    width: 100%;
}

.home__main_section--product-sticker{
    position: absolute;
    top: 0;
    right: 10px;
}

.home__main_section--product-box a{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    
}

.home__main_section--product-title{
    margin: 20px 0;
    font-size: 1.2rem;
}

.home__main_section--product-button {
    display: inline-block;
    background-color: grey;
    padding: 10px;
    margin: 20px 0 30px;

}





/* FOOTER */

.home__footer__nav--menu ul li{
    background: var(--colorRojo);
    margin-bottom: 4px;
    padding: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    
}

/* Pseudo Elemento */
/* Modifica sólo el último Elemento de la Clase */
.home__footer__nav--menu ul li :last-child {
    margin-bottom: 0px;
}


@media (min-width: 481px) {


    /* HEADER */
    .home__header__a--bars{
        display:none;
         
    }

    .home__header__nav--menu ul {
        
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .home__header__nav--menu ul li{
        
        margin-bottom: 20px;
        padding: 5px;
        font-size: 0.9rem;
        
    }

   

    /* MAIN */

    .home__main_section--banner{
        display: block;
    }

    .home__main_section--banner img{
        width: 100%;
    }

    .home__main_section--products {
        justify-content: space-between;
    }

    .home__main_section--product{
        width: 48%;
                
    }
   
}

@media (min-width: 769px){

    /* HEADER */

    .home__header__nav--menu ul {
        gap: 25px;
    }


    .home__header__nav--menu ul li{
        
        font-size: 1.02rem;
        height: 60px;
        padding: 20px;
        
    }


    /* MAIN */

    .home__main_section--product{
        width: 32%;
               
    }

  

    /* FOOTER */

    .home__footer {
        background: var(--colorRojo);
        text-align: center;
        padding: 50px 0;
        border-radius: 30px 30px 0 0;  

    }

    .home__footer__nav--menu {
        display: inline;

    }


    .home__footer__nav--menu ul li{
        display: inline;
        text-transform: capitalize;
        padding: 0px 10px;
        border-right: solid 2px white;

        margin-bottom: 0px;        


        font-size: 1.2rem;
        
        
        
    }

    .home__footer__nav--menu ul li:last-child{
        border-right: none;
    }
}